# Conditional Statements

* If Statement
* if..else Statements
* if..elif Statements
* Nested if..else

## 1) If Statement

In [1]:
marks = int(input("Enter marks : "))
passing = 50
distinction = 90

Enter marks : 23

In [2]:
if marks >= distinction:
    print("Toper")
if marks >= passing and marks < distinction:
    print ("You passed")
if marks < passing:
    print("Failed")

Failed

In [6]:
st = "The coffie is bad"
if 'bad' in st:
    print("Bad Review")
# for this type of problems we can use else.    
st2 = "I am very Good"
if 'bad' in st2:
    print("Good Review")

Bad Review

In [5]:
'z' in "hello"

False

## 2) If else Statement

In [7]:
if None:
    print("True")
else:
    print("False")

False

In [8]:
n=int(input("Enter a number :"))
if(n%2==0):
    print("Even")
else:
    print("Odd")

Enter a number :7
Odd

### Q1) If a number is even should be check divisible by 4 or not, and if a number is odd check divisible by 3 or not.

In [9]:
n1=int(input("Enter n value : "))
if(n1%2==0): 
    print("Even")
    if(n1%4==0):
        print("Divisible by 4")
    else:
        print("Not Divisible by 4")
else:
    print("Odd")
    if(n1%3==0):
        print("Divisible by 3")
    else:
        print("Not Divisible by 3")

Enter n value : 7
Odd
Not Divisible by 3

 ### Q2) Check if a year is Leap year or Not.

In [11]:
y=int(input("Enter year :"))
if (y%400==0) or (y%4==0 and y%100!=0):
    print("Leap Year")
else:
    print("Not a Leap year")

Enter year :2012
Leap Year

### Q3) Check if a number is exists in given range(inclusive).

In [13]:
a=123
lb=50
ub=150
if (a>=lb and a<=ub):
    print("Yes")
else:
    print("No")

Yes

### Q4) Check if a number is multiple of 10.

In [15]:
n=int(input("Enter n:"))
if(n%10==0):
    print("Multiple of 10")
else:
    print("Not a Multiple of 10")

Enter n:24
Not a Multiple of 10

### Q5) Check if a number is a factor of 100.

In [16]:
n=int(input("Enter n:"))
if(100%n==0):
    print("Factor of 100")
else:
    print("Not a factor of 100")

Enter n:45
Not a factor of 100

### Q6) Check if a given string is equal to a number.

In [1]:
num=123456
st="python"
if str(num)==st:
    print("Equal")
else:
    print("Not equal")

Not equal

### Q7) Calculate the number of nano seconds in a given year (Consider leap year logic).

In [8]:
year=int(input("Enter a year:"))
if (year%400==0) or (year%4==0 and year%100!=0):
    print(366*24*60*60*(10**9))
else:
    print(365*24*60*60*(10**9))

Enter a year:2020
31622400000000000

## 3) elif Statement

### Q1) Find the greatest of 3 numbers.

In [9]:
n1=int(input("Enter n1:"))
n2=int(input("Enter n2:"))
n3=int(input("Enter n3:"))
if n1>n2 and n1>n3:
    print("n1 is greater")
elif n2>n3 and n2>n1:
    print("n2 is grater")
else:
    print("n3 is grater")

Enter n1:23
Enter n2:4
Enter n3:77
n3 is grater

### Q2)

In [11]:
m=int(input("enter marks :"))
pa=50
dis=90
if m==100:
    print("Perfect")
elif 90<=m<100:
    print("Distinction")
elif 80<=m<90:
    print("First class")
elif 50<=m<80:
    print("Second class")
else:
    print("Failed")

enter marks :77
Second class

## 4) Nested If

* Take an input from keyboard.
* Check the number is position or negative or zero display.

In [12]:
n=int(input("Enter a number :"))
if n>=0:
    if n==0:
        print("Zero")
    else:
        print("Positive")
else:
    print("Negative")

Enter a number :23
Positive

# Tasks

CONDITIONAL STATEMENTS

* 1) Check the given year is a Leap year or not 
* 2) Check if the number exist in a given range (inputs: number(n), range(lower number and upper number) 
* 3) Check the number of digits in a given number
* 4) Check if the given number is a factor of 1000 
* 5) Calculate the square root of a given number

In [13]:
# 1) Check the given year is a Leap year or not. 
y=int(input("Enter year :"))
if (y%400==0) or (y%4==0 and y%100!=0):
    print("Leap Year")
else:
    print("Not a Leap year")

Enter year :2020
Leap Year

In [14]:
#  2) Check if the number exist in a given range (inputs: number(n), range(lower number and upper number) 
a=123
lb=50
ub=150
if (a>=lb and a<=ub):
    print("Yes")
else:
    print("No")

Yes

In [6]:
# 3) Check the number of digits in a given number
n=int(input("Enter n value :"))
c=0
while(n>0):
    n=n//10
    c=c+1
print("Digits : ",c)

Enter n value :123
Digits :  3

In [18]:
#  4) Check if the given number is a factor of 1000 
n=int(input("Enter n:"))
if(1000%n==0):
    print("Factor of 1000")
else:
    print("Not a factor of 1000")

Enter n:231
Not a factor of 1000

In [7]:
# 5) Calculate the square root of a given number
import math
s=float(input("Enter number :"))
r=math.sqrt(s)
print(r)

Enter number :4
2.0

# Iterations/Loops

In [12]:
range(5)     # 0,1,2,3,4.
range(1,5)   # 1,2,3,4.

range(1, 5)

## (1) For Loop

In [13]:
for i in range(5):
    print(i)

0
1
2
3
4

In [14]:
s1="hello"
for i in s1:
    print(i)

h
e
l
l
o

In [17]:
# print hello in single line separated by ,
s="hello"
for i in s:
    print(i,end=",")

h,e,l,l,o,

In [20]:
# print hello in single line separated by ,
s2="hello"
for i in s2:
    print(i,sep=",")

h
e
l
l
o

In [21]:
s3="a,b,c,d"
for i in s3:
    print(i,end=",")

a,,,b,,,c,,,d,

In [25]:
print(43,56,sep=".")
print(43,56,sep=",")
print(43,56)      # default separator is space.

43.56
43,56
43 56

In [27]:
for i in range(1,11):
    if(i%2==0):
        print(i,end=" ")

2 4 6 8 10

In [34]:
for i in range(2,11,2):
    print(i,end=" ")

2 4 6 8 10

In [35]:
for i in range(7,1000,7):
    print(i,end=" , ")

7 , 14 , 21 , 28 , 35 , 42 , 49 , 56 , 63 , 70 , 77 , 84 , 91 , 98 , 105 , 112 , 119 , 126 , 133 , 140 , 147 , 154 , 161 , 168 , 175 , 182 , 189 , 196 , 203 , 210 , 217 , 224 , 231 , 238 , 245 , 252 , 259 , 266 , 273 , 280 , 287 , 294 , 301 , 308 , 315 , 322 , 329 , 336 , 343 , 350 , 357 , 364 , 371 , 378 , 385 , 392 , 399 , 406 , 413 , 420 , 427 , 434 , 441 , 448 , 455 , 462 , 469 , 476 , 483 , 490 , 497 , 504 , 511 , 518 , 525 , 532 , 539 , 546 , 553 , 560 , 567 , 574 , 581 , 588 , 595 , 602 , 609 , 616 , 623 , 630 , 637 , 644 , 651 , 658 , 665 , 672 , 679 , 686 , 693 , 700 , 707 , 714 , 721 , 728 , 735 , 742 , 749 , 756 , 763 , 770 , 777 , 784 , 791 , 798 , 805 , 812 , 819 , 826 , 833 , 840 , 847 , 854 , 861 , 868 , 875 , 882 , 889 , 896 , 903 , 910 , 917 , 924 , 931 , 938 , 945 , 952 , 959 , 966 , 973 , 980 , 987 , 994 ,

In [37]:
for i in range(7,1000,7):
    if(i%2==0):
        print(i,end=" , ")

14 , 28 , 42 , 56 , 70 , 84 , 98 , 112 , 126 , 140 , 154 , 168 , 182 , 196 , 210 , 224 , 238 , 252 , 266 , 280 , 294 , 308 , 322 , 336 , 350 , 364 , 378 , 392 , 406 , 420 , 434 , 448 , 462 , 476 , 490 , 504 , 518 , 532 , 546 , 560 , 574 , 588 , 602 , 616 , 630 , 644 , 658 , 672 , 686 , 700 , 714 , 728 , 742 , 756 , 770 , 784 , 798 , 812 , 826 , 840 , 854 , 868 , 882 , 896 , 910 , 924 , 938 , 952 , 966 , 980 , 994 ,

In [38]:
for i in range(1000,7,-7):
    print(i,end=" , ")

1000 , 993 , 986 , 979 , 972 , 965 , 958 , 951 , 944 , 937 , 930 , 923 , 916 , 909 , 902 , 895 , 888 , 881 , 874 , 867 , 860 , 853 , 846 , 839 , 832 , 825 , 818 , 811 , 804 , 797 , 790 , 783 , 776 , 769 , 762 , 755 , 748 , 741 , 734 , 727 , 720 , 713 , 706 , 699 , 692 , 685 , 678 , 671 , 664 , 657 , 650 , 643 , 636 , 629 , 622 , 615 , 608 , 601 , 594 , 587 , 580 , 573 , 566 , 559 , 552 , 545 , 538 , 531 , 524 , 517 , 510 , 503 , 496 , 489 , 482 , 475 , 468 , 461 , 454 , 447 , 440 , 433 , 426 , 419 , 412 , 405 , 398 , 391 , 384 , 377 , 370 , 363 , 356 , 349 , 342 , 335 , 328 , 321 , 314 , 307 , 300 , 293 , 286 , 279 , 272 , 265 , 258 , 251 , 244 , 237 , 230 , 223 , 216 , 209 , 202 , 195 , 188 , 181 , 174 , 167 , 160 , 153 , 146 , 139 , 132 , 125 , 118 , 111 , 104 , 97 , 90 , 83 , 76 , 69 , 62 , 55 , 48 , 41 , 34 , 27 , 20 , 13 ,

In [39]:
for i in range(98,49,-2):
    print(i,end=",")

98,96,94,92,90,88,86,84,82,80,78,76,74,72,70,68,66,64,62,60,58,56,54,52,50,

## (2) While Loop

In [2]:
i=1
while(i<=10):
    print(i,end=" ")
    i=i+1

1 2 3 4 5 6 7 8 9 10

In [2]:
i=3
while(i<100):
    if(i%3==0):
        print(i,end=" ")
    i=i+1

3 6 9 12 15 18 21 24 27 30 33 36 39 42 45 48 51 54 57 60 63 66 69 72 75 78 81 84 87 90 93 96 99

In [4]:
i=100
while(i>=3):
    print(i,end=" ")
    i=i-3

100 97 94 91 88 85 82 79 76 73 70 67 64 61 58 55 52 49 46 43 40 37 34 31 28 25 22 19 16 13 10 7 4

In [1]:
s="hello"
i=0
while(i<len(s)):
    print(s[i])
    i=i+1

h
e
l
l
o

In [6]:
# function to print N natural numbers using loop
def numbers(n):
    for i in range(1,n+1):
        print(i)
numbers(5)

1
2
3
4
5

## Tasks :
ITERATIONS/LOOPS

### FOR LOOP

* 1.Iterate the integers from 1 to 50, for multiples of 3 print “Fizz” and for multiples of 5 print “Buzz” and for multiples of both 3 and 5 print “FizzBuzz”.
* 2.Program to print the multiplication table from range between 10 to 20 (Ex: 3 x 10 = 30….)

In [1]:
#Iterate the integers from 1 to 50, for multiples of 3 print “Fizz” and for multiples of 5 print “Buzz” and for multiples of both 3 and 5 print “FizzBuzz”.
for i in range(1,50):
    if i%3==0 and i%5!=0:
        print(i,"Fizz")
    elif i%5==0 and i%3!=0:
        print(i,"Buzz")
    elif i%3==0 and i%5==0:
        print(i,"FizzBuzz")

3 Fizz
5 Buzz
6 Fizz
9 Fizz
10 Buzz
12 Fizz
15 FizzBuzz
18 Fizz
20 Buzz
21 Fizz
24 Fizz
25 Buzz
27 Fizz
30 FizzBuzz
33 Fizz
35 Buzz
36 Fizz
39 Fizz
40 Buzz
42 Fizz
45 FizzBuzz
48 Fizz

In [2]:
# 2.Program to print the multiplication table from range between 10 to 20 (Ex: 3 x 10 = 30….)
num=int(input("Enter any number:"))
i=10
while(i<=20):
    print(num,"X",i,"=",num*i)
    i=i+1

Enter any number:23
23 X 10 = 230
23 X 11 = 253
23 X 12 = 276
23 X 13 = 299
23 X 14 = 322
23 X 15 = 345
23 X 16 = 368
23 X 17 = 391
23 X 18 = 414
23 X 19 = 437
23 X 20 = 460

### WHILE LOOP

* 1.Print n Natural Numbers using while loop
* 2.Program print n number of iterations using while loop with if statement.
* Example : a=1,b=1 two variables b==4 loop terminated

In [1]:
# 1.Print n Natural Numbers using while loop
n=int(input("Enter any number :"))
i=0
while(i<=n):
    print(i)
    i=i+1

Enter any number :5
0
1
2
3
4
5

In [2]:
# 2.Program print n number of iterations using while loop with if statement.
lb=int(input("Enter lower bound:"))
ub=int(input("Enter upper bound:"))
while(lb<=ub):
    if lb==4:
        break
    print(lb,end=" ")
    lb+=1

Enter lower bound:2
Enter upper bound:7
2 3

## PROBLEM SET

* 1.Function to print reverse of given string in the same line
* 2.Function to print the odd numbers in reverse order
* 3.Function to calculate the sum of numbers in a range
* 4.Function to calculate the average of a given range (1,5) -> 3
* 5.Function to generate the sum of factors for a given number 12 -> 1 2 3 4 6 12
* 6.Function to check if a given number is Prime
* 7.Function to calculate the average of first N Prime numbers
* 8.Function to generate all Perfect numbers in a given range
* 9.Perfect Number - Sum of all its factors is equal to the number itself
    6 - 1, 2, 3
    lb, ub

In [5]:
# 1.Function to print reverse of given string in the same line
def reverse(string):
    i=len(string)-1
    while(i>=0):
        print(string[i],end=" ")
        i=i-1
s=input("Enter any string:")
reverse(s)

Enter any string:shruti
i t u r h s

In [4]:
#  2.Function to print the odd numbers in reverse order
def odd(lb,ub):
    while(ub>=lb):
        if ub%2!=0:
            print(ub,end=" ")
        ub-=1
lb=int(input("Enter lower bound:"))
ub=int(input("Enter upper bound:"))
odd(lb,ub)

Enter lower bound:10
Enter upper bound:23
23 21 19 17 15 13 11

In [5]:
# 3.Function to calculate the sum of numbers in a range
def sum(lb,ub):
    s=0
    while(lb<=ub):
        s+=lb
        lb+=1
    return s
lb=int(input("Enter lower bound:"))
ub=int(input("Enter upper bound:"))
res=sum(lb,ub)
print(res)

Enter lower bound:7
Enter upper bound:12
57

In [6]:
# 4.Function to calculate the average of a given range (1,5) -> 3
def avg(lb,ub):
    s=0
    c=0
    while(lb<=ub):
        s+=lb
        lb+=1
        c+=1
    return s/c
lb=int(input("Enter lower bound:"))
ub=int(input("Enter upper bound:"))
res=avg(lb,ub)
print(res)

Enter lower bound:1
Enter upper bound:5
3.0

In [ ]:
# 5.Function to generate the sum of factors for a given number 12 -> 1 2 3 4 6 12
def factor(num):
    i=1
    s=0
    while(i<=num):
        if num%i==0:
            s+=i
    print(s)
num=int(input("Enter enter any number:"))
factor(num)

Enter enter any number:12

In [1]:
# 6.Function to check if a given number is Prime
def prime(num):
    i=2
    c=0
    while i<=num:
        if num%i==0:
            c+=1
        i+=1
    return c
num=int(input("Enter any value:"))
res=prime(num)
if res==1:
    print("Prime")
else:
    print("Non prime")

Enter any value:34
Non prime

In [2]:
#  7.Function to calculate the average of first N Prime numbers
def prime(num):
    i=2
    c=0
    while i<=num:
        if num%i==0:
            c+=1
        i+=1
    return c
num=int(input("Enter any value:"))
i=2
while(i<=num):
    res=prime(i)
    if res==1:
        print(i,"Prime")
    i+=1

Enter any value:12
2 Prime
3 Prime
5 Prime
7 Prime
11 Prime

In [3]:
# 8.Function to generate all Perfect numbers in a given range
def isperfect(num):
    s=0
    for i in range(1,num):
        if num%i==0:
            s+=i
    return s
number=int(input("Enter any number:"))
for i in range(1,number):
    res=isperfect(i)
    if res==i:
        print(i,"perfect number")

Enter any number:30
6 perfect number
28 perfect number