# Python Data Structures

## 1) List

In [1]:
li=[]
type(li)

list

In [3]:
li # Access the entire list

[]

In [4]:
li=[1,2,34,45]

In [5]:
li

[1, 2, 34, 45]

In [7]:
li[1]    # index of list starts from 0

2

In [8]:
li[0:]     # Accessing all elements from list

[1, 2, 34, 45]

In [9]:
li[::-1]   # Reverse of a list

[45, 34, 2, 1]

In [10]:
li

[1, 2, 34, 45]

In [11]:
li[::2]

[1, 34]

In [12]:
li[1::2]

[2, 45]

In [13]:
name="rekha"

In [14]:
mylist=[]

In [15]:
print(type(name),type(mylist))

<class 'str'> <class 'list'>

In [16]:
mylist=list()
type(mylist)

list

In [17]:
names=["abcd","fgtd"]
type(names)

list

In [18]:
len(names)

2

In [20]:
names[0]

'abcd'

In [1]:
names[7]    # INDEX OUT OF RANGE

NameError: name 'names' is not defined

## List Methods

### Append
* To add new item in the available list

In [22]:
names

['abcd', 'fgtd']

In [23]:
names.append("rgukt")

In [24]:
names

['abcd', 'fgtd', 'rgukt']

In [25]:
new_persons=["geetha","yamuna","aswini"]

In [27]:
names.append(new_persons)

In [28]:
names

['abcd', 'fgtd', 'rgukt', ['geetha', 'yamuna', 'aswini']]

In [29]:
len(names)

4

### Extend Method

In [30]:
names1=["tulugu","rekha","rena"]

In [35]:
new_persons=["bhanu","manu","bhuvan","janu sri","bala sri"]

In [36]:
names1.extend(new_persons)

In [37]:
names1

['tulugu',
 'rekha',
 'rena',
 'bhanu',
 'manu',
 'bhuvan',
 'bhanu',
 'manu',
 'bhuvan',
 'janu sri',
 'bala sri']

In [34]:
len(names1)

6

### Copy()

* To take new backup of available list

In [38]:
hari=[20,30,40,50]

In [39]:
priya=hari.copy()

In [40]:
priya

[20, 30, 40, 50]

In [41]:
hari

[20, 30, 40, 50]

In [42]:
girls=["vijaya","rekha"]

In [43]:
girls

['vijaya', 'rekha']

In [44]:
girls[0]="aswini"

In [45]:
girls

['aswini', 'rekha']

In [46]:
dir(girls)   # To know other Methods of List

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

### Clear()

* To remove all items in list

In [47]:
girls.clear()

In [48]:
girls

[]

### count(item)

* It can search for given item and return the number of occurances in a list.

In [50]:
girls=["vijaya","rekha"]

In [51]:
print(girls)

['vijaya', 'rekha']

In [52]:
girls.count("rekha")

1

In [53]:
nums=[1,2,3,4,45,[2,45]]

In [54]:
nums.count(2)

1

### index(item,start_index_for_searching)

* return index of first occurances of the item in list if available otherwise value show error.

In [55]:
nums.index(45)

4

In [56]:
num=[1,2,3,1,2,3,1,2,3]
num.index(3,4)             # 2,3,1,2,3

5

In [57]:
num[0]

1

In [59]:
num.index(2,4)        # search 2 item after 4th index

4

### insert(index_value,item)

* if given index available it can add item at given index otherwise it adds last index.

In [60]:
num=[1,2,3,4,5,6,7]
num.insert(3,4)

In [61]:
num

[1, 2, 3, 4, 4, 5, 6, 7]

In [62]:
num1=[10,20,30,40]
num1.insert(100,50)

In [63]:
num1

[10, 20, 30, 40, 50]

### pop()

* removes the element at the specific position.

In [64]:
good_girls=["ponisha","mohini","divya","madhuri","aswini"]

In [65]:
good_girls

['ponisha', 'mohini', 'divya', 'madhuri', 'aswini']

In [66]:
good_girls.pop(2)

'divya'

In [67]:
good_girls

['ponisha', 'mohini', 'madhuri', 'aswini']

In [68]:
good_girls.pop()

'aswini'

In [70]:
good_girls

['ponisha', 'mohini', 'madhuri']

### Remove()

* Removes specific item

In [71]:
ab_girls=["rani","abc","bsd","rena"]

In [72]:
ab_girls.remove("bsd")

In [73]:
ab_girls

['rani', 'abc', 'rena']

### Reverse()

* reverse the items

In [74]:
ab_girls=["rani","abc","bsd","rena"]

In [75]:
ab_girls.reverse()

In [76]:
ab_girls

['rena', 'bsd', 'abc', 'rani']

### Sort()

* sort the list in alphabetical order.

In [77]:
cars=['Ford',"BMW","Volvo"]

In [78]:
cars

['Ford', 'BMW', 'Volvo']

In [79]:
cars.sort()

## Tasks

* 1.Given list contains all electronic items[mobile,laptop,speakers,door,files]. If you find any item which is not related to electronics then remove it using slicing method.
* 2.Find the length of the given list. Also print the minimum and maximum values in the list. list1 = [10,20,34,44,88]
* 3.Take a list of elements and add that list into another empty list
* 4.Sort the list of elements in ascending order and descending order.
* 5.Given a two list of equal size create a set such that it shows the element from both lists in the pair.
* 6.Write a python program to print the sum and average of elements in the list.

T1) Given list contains all electronic items[mobile,laptop,speakers,door,files]. If you find any item which is not related to electronics then remove it using slicing method.

In [ ]:
items=['mobile','laptop','speakers','door','files']
list1=['abc','laptop','door']
for i in items:

T2) Find the length of the given list. Also print the minimum and maximum values in the list. list1 = [10,20,34,44,88]

T3) Take a list of elements and add that list into another empty list

T4) Sort the list of elements in ascending order and descending order.

T5) Given a two list of equal size create a set such that it shows the element from both lists in the pair.

T6) Write a python program to print the sum and average of elements in the list.

## Example

In [80]:
# Function to identify the second largest element in a unique list
    # Sort the data and select the second last element
    # Sort the data in reverse order,and select the second element
    # Remove the max element and then get the max of the new list

In [81]:
li=[1,2,3,4,5]

In [83]:
# Sort the data and select the second last element

def seclarge(li):
    li.sort()
    return li[-2]
seclarge(li)

4

In [84]:
# Sort the data in reverse order,and select the second element

def seclarrev(li):
    li.sort()

In [85]:
# Remove the max element and then get the max of the new list

def seclarge(li):
    li.sort()
    return li[-2]

# function that returns nth largest
def lar(li,n):
    li.sort()
    return li[-n]
seclarge(li)
lar(li,5)

1

In [86]:
s="1 2 3 4 5 6"
l=s.split()
numlist=[]
for i in l:
    numlist.append(int(i))
print(numlist)

[1, 2, 3, 4, 5, 6]

In [87]:
numlist

[1, 2, 3, 4, 5, 6]

### Problem

In [2]:
#You are given three numbers, a, b and c. 
#Write a program to find the largest number 
# which is less than or equal to c and leaves
# remainder b when divided by a.