# Tuples
  - Collection of elements which is ordered and unchangable.

In [1]:
t=(10,20,30)
print(t)

(10, 20, 30)

In [2]:
type(t)

tuple

In [3]:
for i in t:
    print(i)

10
20
30

In [4]:
t[0:3:2]

(10, 30)

In [6]:
first_tuple=("sruthi",30,"vavilapalli",40)
print(first_tuple)
print(first_tuple[0])

('sruthi', 30, 'vavilapalli', 40)
sruthi

In [7]:
len(first_tuple)

4

In [8]:
print(t)
print(len(t))
t.count(10)

(10, 20, 30)
3

1

In [12]:
city=('delhi',12,'hyd','chennai')
b=city[:-1]
print(city)
print(b)
print(len(b))

('delhi', 12, 'hyd', 'chennai')
('delhi', 12, 'hyd')
3

In [14]:
c=list(b)
print("c is : {0}".format(c))
c=tuple(c)
print('Now c is tuple:{0}'.format(c))

c is : ['delhi', 12, 'hyd']
Now c is tuple:('delhi', 12, 'hyd')

In [16]:
x=("rena","satya","manu","bhuvan")
y=list(x)
y[1]="renasatya"
x=tuple(y)
print(x)
print(y)

('rena', 'renasatya', 'manu', 'bhuvan')
['rena', 'renasatya', 'manu', 'bhuvan']

In [18]:
a=('a','b','c','d')
b=(1,2,3,4)
c=a+b
print(c)

('a', 'b', 'c', 'd', 1, 2, 3, 4)

### Program to convert given tuple in to string.

In [20]:
t=('a','b')
st=''.join(t)
print(st)

ab

# Tasks

1. Python program to reverse the given elements in tuple.
2. Python program to print names in tuples using iterations.

In [1]:
# 1. Python program to reverse the given elements in tuple.
tupl=(10,20,30,40,50)
print(tupl[::-1])

(50, 40, 30, 20, 10)

In [3]:
# 2. Python program to print names in tuples using iterations.
tupl=("Shruthi","Pallavi","Rena")
for i in tupl:
    print(i)

Shruthi
Pallavi
Rena

# Sets

In [21]:
s={10,20,30}
s

{10, 20, 30}

In [23]:
s[0]   # we can't access set using index's we can use elements.

TypeError: 'set' object is not subscriptable

In [38]:
names={"anil","himamsu","sruthi","pallavi","charan"}
names

{'anil', 'charan', 'himamsu', 'pallavi', 'sruthi'}

In [25]:
for i in names:
    print(i)

himamsu
pallavi
sruthi
charan
anil

In [26]:
print("anil" in names)

True

### Methods

### add()

In [27]:
names.add("bhanu")
print(names)

{'himamsu', 'pallavi', 'bhanu', 'sruthi', 'charan', 'anil'}

### update()

In [28]:
names.update(['abc','def'])
print(names)

{'himamsu', 'pallavi', 'bhanu', 'sruthi', 'charan', 'abc', 'anil', 'def'}

### remove()

In [31]:
names.remove("charan")

In [32]:
names

{'abc', 'anil', 'bhanu', 'def', 'himamsu', 'pallavi', 'sruthi'}

### discard()

In [34]:
names.discard("def")
names

{'abc', 'anil', 'bhanu', 'himamsu', 'pallavi', 'sruthi'}

### pop()

In [35]:
names.pop()
names

{'abc', 'anil', 'bhanu', 'pallavi', 'sruthi'}

### clear()

In [36]:
names.clear()

In [37]:
names

set()

In [39]:
names={"anil","himamsu","sruthi","pallavi","charan"}

In [41]:
# all methods
dir(names)

['__and__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

### del()

In [45]:
s={1,2,3}
s

{1, 2, 3}

In [46]:
del(s)

### Union()
### intersection()
### difference_update()
### issubset()
### symmetric_difference()

In [48]:
s1={1,2,3,4}
s2={4,5,6}
s3=s1.union(s2)
print(s3)

{1, 2, 3, 4, 5, 6}

In [51]:
s4=s1.intersection(s2)
print(s4)

{4}

In [55]:
s5=s1.difference_update(s2)
s1

{1, 2, 3}

In [56]:
s1={1,2,3}
s2={1,2,3,4,5,6}
s1.issubset(s2)

True

In [57]:
s2.issubset(s1)

False

In [58]:
s1.symmetric_difference(s2)

{4, 5, 6}

## Tasks :

#Take two sets and print the result using methods like 

#Intersection_update',
 'isdisjoint',
 'issuperset',
 'symmetric_difference',
 'symmetric_difference_update'
 and so on.

In [9]:
t1={1,2,3,4,5}
t2={3,4,5,6,7,8,9,77}

In [11]:
t1.intersection_update(t2)
print(t1)

{3, 4, 5}

In [12]:
t1.isdisjoint(t2)

False

In [17]:
t2.issuperset(t1)

True

In [18]:
t1.symmetric_difference(t2)

{6, 7, 8, 9, 77}

In [19]:
t1.symmetric_difference_update(t2)

# Packages and Modules

* Package : Collection of Modules.
* Module : A single python file containing function.
* Package --> SubPackages --> Modules --> Functions.

## Module

In [59]:
def abc(name):
    print("hello",+name)

In [65]:
"""
import firstmodule
firstmodule.print("jss")
import firstmodule as mod

"""
print('hi')

hi

## Packages

In [66]:
from math import floor as f1
f1(234.34)

234

In [68]:
import random
def rand(n,lb,ub):
    for i in range(0,n):
        print(random.randint(lb,ub),end=" ")
rand(10,1,100)

14 62 83 19 34 60 51 35 33 54

In [72]:
from Packages.numerical import isPrime
isPrime(7)

ModuleNotFoundError: No module named 'Packages'

In [75]:
from math import sqrt
sqrt(25)

5.0

## Tasks